@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300&display=swap");

#root {
	background-color: rgb(25, 25, 25);
	color: white;
	background: url("../assets/backgroundImage.jpg") center/cover no-repeat;
	overflow: scroll;
}

.content {
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 2;
}
