.game-board {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 7rem 1fr;
	padding: 1rem 2rem;
	min-height: 100dvh;
}

.home-btn-title {
	width: 18rem;
	transition: transform 0.5s ease;
}

.home-btn-title:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.score-board {
	font-size: 1.25rem;
	padding: 1rem 0rem;
	margin-left: auto;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	grid-column: span 2;
}

.card {
	position: relative;
}

.card-front,
.card-back {
	width: 275px;
	height: 375px;
	border: 1px solid #ddd;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	object-fit: cover;
}

.card-front {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 1rem 0.5rem 1rem;
	background: url("../assets/cardFront.jpg") center/cover no-repeat;
	transform: rotateY(90deg);
	pointer-events: none;
	transition: transform 0.3s ease;
}

.flipped .card-front {
	transform: rotateY(0deg);
	transition-delay: 0.3s;
	pointer-events: all;
}

.card-back {
	transition: transform 0.3s ease;
	transition-delay: 0.3s;
	background: url("../assets/cardBack.jpg") center/cover no-repeat;
}

.flipped .card-back {
	transform: rotateY(90deg);
	transition-delay: 0s;
}

.card-front:hover {
	transform: scale(1.03);
	transition: transform 0.3s ease;
	cursor: pointer;
}

.card-front::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 1rem;
	z-index: 0;
}

.card-front img {
	border-radius: 1rem;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.card-front p {
	position: relative;
	font-size: 1.25rem;
	font-family: "Permanent Marker", cursive;
	margin-top: 0.25rem;
	z-index: 1;
}

.modal-container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 2;
	display: flex;
	justify-content: center;
}

.modal {
	position: relative;
	width: 800px;
	height: 400px;
	top: 12rem;
	border-radius: 1rem;
	box-shadow: 0px 0px 10px 2px rgb(233, 255, 111);
	overflow: hidden;
}

.game-outcome {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Permanent Marker", cursive;
	font-size: 4rem;
	z-index: 4;
}

.modal-btns {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	gap: 1rem;
	justify-content: center;
	width: 100%;
	z-index: 4;
}

.modal-btns button {
	font-size: 1.5rem;
	font-weight: 600;
	border: 0px solid;
	border-radius: 0.5rem;
	padding: 0.75rem 1rem;
	transition: all ease 0.3s;
}

.modal-btns button:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.modal img {
	position: relative;
	width: 100%;
	z-index: 3;
}

.modal::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	z-index: 4;
}
