.game-board {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 7rem 1fr;
	padding: 1rem 2rem;
}

.home-btn-title {
	width: 18rem;
	transition: transform 0.5s ease;
}

.home-btn-title:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.score-board {
	font-size: 1.25rem;
	padding: 1rem 0rem;
	margin-left: auto;
}
